{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/app.css') }}">
{% endblock %}
{% block title %}Nexocris{% endblock %}


{% block body %}

<div class="container">

    <div class="quote">Work your ass off.</div>

    <p class="topic" data-item='Nexocris'>Nexocris</p>

    <section>
        <div class="quote">
            <em>"Being crazy isn't enough."</em>
        </div>
        <nav class="navbar">
            <ul class="navbar__items">
                <li class="navbar__item">
                    <a href='#' class="navbar__item-anchor" data-item='Home'>Home</a>
                </li>
                <li class="navbar__item">
                    <a href='#' class="navbar__item-anchor" data-item='About'>About</a>
                </li>
                <li class="navbar__item">
                    <a href='#' class="navbar__item-anchor" data-item='Projects'>Projects</a>
                </li>
                <li class="navbar__item">
                    <a href='#' class="navbar__item-anchor" data-item='Blog'>Blog</a>
                </li>
                <li class="navbar__item">
                    <a href='#' class="navbar__item-anchor" data-item='PHP && JS'>PHP && JS</a>
                </li>
            </ul>
        </nav>

    </section>

    <footer>

        <div class="footer-copyright text-center quote">&copy; Developed with 🧠️</i> by
            <a href="https://grohit.com/" class="white-text">Nexocris</a>. <a href="https://github.com/MartinPucan">Check my github</a>
        </div>

    </footer>
</div>

{% endblock %}
