{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('public/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/game.css') }}">
{% endblock %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

<div class="container-app">
    <h1 class="game__topic tc">Atom</h1>

{#    <script src="{{ asset('front/js/app.js') }}"></script>#}
    <script>
        const person1 = { name: "Martin" }
        const person3 = person1
        const person2 = person3

        person3.job = 'Fireman'
        person2.name = 'John'
        person1.age = 22
        person2.age = 23
        person1.job = 'Programmer'

        console.log(person3)

    </script>
    <script>
        function add(array, value) {
            array.push(value);
            value += 1;
        }

        const array = [10, 1, 2, 3];
        const value = 4;
        add(array, value);

    </script>
    <script>
        function outer(a) {
            function inner(b) {
                return a + b;
            }

            return inner;
        }

        const f = outer(3);
        console.log(f(10));

    </script>
</div>
{% endblock %}
