{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

<div class="container-app">
    <h1 class="game__topic tc">Atoms</h1>

        <button>
            <div class="icon">
                <span class="rectangle rectangle1" />
                <span class="rectangle rectangle2" />
            </div>
        </button>

    <script src="{{ assetPath('js/learnJS/consoleLog.js') }}"></script>
    <script src="{{ assetPath('js/learnJS/template-literals.js') }}"></script>
    <script>
        const person1 = { name: "Martin" }
        const person3 = person1
        const person2 = person3

        person3.job = 'Fireman'
        person2.name = 'John'
        person1.age = 22
        person2.age = 23
        person1.job = 'Programmer'

        console.log(person3)

    </script>
    <script>
        function add(array, value) {
            array.push(value);
            value += 1;
        }

        const array = [10, 1, 2, 3];
        const value = 4;
        add(array, value);

    </script>
    <script>
        function outer(a) {
            function inner(b) {
                return a + b;
            }

            return inner;
        }

        const f = outer(3);
        console.log(f(10));

    </script>
</div>
{% endblock %}
