.blog {

  &__container {
    margin: 0 auto;
    width: 100%;
    min-height: 30vh;
  }

  &__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    min-height: 30vh;
    background-image: url("/public/images/awesome-bg.png");
  }
  
  &__navbar-line {
    border-bottom: 2px solid #fd1d1d;
  }
}

.articles {

  &__container {
    width: 70%;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    margin: 1em;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  &__left {
    flex-basis: 30%;
    background: #5e5e5e;
    padding: .5em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__right {
    flex-basis: 70%;
    padding: .5em;
  }

  &__btn {
    background-color: #2e2966;
    border: 0;
    box-shadow: 0 6px 6px rgba(23, 23, 23, 0.2);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: .5em;
    bottom: 30px;
    letter-spacing: 1px;
  }

  &__btn-right {
    display: flex;
    flex-direction: row-reverse;
  }
}

.text {
  display: flex;
  font-size: 28px;
  text-transform: capitalize;
}

.i_am {
  margin-right: 8px;
  color: #F4E0F1;
}

.carousel {
  height: 36px;
  overflow: hidden;
}

.carousel span {
  display: block;
  font-weight: bold;
  line-height: 1.3em;
  color: #f5ff6b;
}

.carousel-word {
  animation: carousel 12s infinite;
}

@keyframes carousel {
  0%, 14.5% {
    transform: translateY(0px);
  }
  19.5%, 34% {
    transform: translateY(-37px);
  }
  39%, 53.5% {
    transform: translateY(-74px);
  }
  58.5%, 73% {
    transform: translateY(-109px);
  }
  78%, 92.5% {
    transform: translateY(-145px);
  }
  97.5%, 100% {
    transform: translateY(-181px);
  }
}
