.blog {

  &__container {
    margin: 0 auto;
    width: 100%;
    min-height: 30vh;
  }

  &__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    min-height: 30vh;
    background-image: linear-gradient(to right, #0052cd, #783aa7, #93287d, #972559, #8d303d);
  }
  
  &__navbar-line {
    border-bottom: 2px solid #2e3136;
  }
}

.articles {

  &__container {
    width: 70%;
    margin: 0 auto;
  }

  &__wrapper {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: .5em;
  }

  &__left {
    flex-basis: 30%;
    background: #5e5e5e;
    padding: .5em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding: .5em;
  }

  &__btn {
    background-color: #2A265F;
    border: 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: .5em;
    bottom: 30px;
    letter-spacing: 1px;
  }

  &__btn-right {
    flex-direction: row-reverse;
  }
}
