<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ assetPath('css/app.css') }}">
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer>
            <div class="footer-copyright text-center quote">&copy; Developed with <i>🧠️</i> by
                <a href="https://grohit.com/" class="white-text">Nexocris</a>. <a href="https://github.com/MartinPucan">Check my github</a>
            </div>
        </footer>
    </body>
</html>
